@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>B I E N V E N I D O S</h1>
    <p class="lead">Proyecto de desarrollo JHONATAN RAMIREZ</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acceso a la documentacion</h2>
        <p>
            En este espacio se encuentra el link del repositorio donde se encuentra almacenada la documentacion
        </p>
        <p><a class="btn btn-default" href="https://drive.google.com/drive/folders/1K9tbx7G5mYMQPtNCBg-swTKi4oQCZP9r?usp=sharing">Enlace &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>M U N D O   T E C H</h2>
        <p>Tenemos todo sobre computadoras y accesorios.</p>
        <img src="https://thumbs.dreamstime.com/b/tecnolog%C3%ADa-global-logo-template-design-vector-emblema-concepto-de-dise%C3%B1o-s%C3%ADmbolo-creativo-icono-94271214.jpg" alt="image" height="125" width="155" />
        <p>Encuentranos en nuestras redes sociales.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>